<div class="row">
    <div class="col-6">
       <button class="btn btn-primary" (click)="setPage(params.page-1)" *ngIf="params.page>1">Prev</button>
       <button class="btn btn-primary" (click)="setPage(params.page+1)" *ngIf="params.page<numbOfPages">Next</button>
    </div>
    <div class="col-6">
        <label for="sort">Sort by: </label>
        <select name="sort" id="sort" [(ngModel)]="params.sort" (change)="getMovies()">
            <option value="rating" selected>Rating</option>
            <option value="year">Year</option>
        </select>
        <button (click)="changeDirection()">&#8595;</button>
    </div>
</div>
<div class="row">
    <div class="col">
        <app-movie-list [movies]="movieList?.results"></app-movie-list>
    </div>
</div>
